@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scrollbar-width: none;
}

.node-label {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 16px;
  padding: 2px 6px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
